.idea/
build/
third_party/ 

# conf/
!conf/client
!conf/server

grpc_proto/*.h
grpc_proto/*.cc 
fb_schema/*.h
fb_schema/*.cc

log/
!.keep
!.gitkeep
*.log
*.out

cmake-build-debug/ 
shell/debug/

*.prof

tmp/
temp/
