[submodule "third_party/libBLS"]
	path = third_party/libBLS
	url = https://github.com/skalenetwork/libBLS.git
[submodule "third_party/evmc"]
	path = third_party/evmc
	url = https://github.com/ethereum/evmc.git
[submodule "third_party/timercpp"]
	path = third_party/timercpp
	url = https://github.com/99x/timercpp.git
[submodule "third_party/hashmap"]
	path = third_party/hashmap
	url = https://github.com/kshk123/hashMap.git
[submodule "third_party/c-plus-plus-serializer"]
	path = third_party/c-plus-plus-serializer
	url = https://github.com/goblinhack/c-plus-plus-serializer.git
[submodule "third_party/hash-library"]
	path = third_party/hash-library
	url = https://github.com/stbrumme/hash-library.git
